.saldoRow {
  background-color: #6379f4;
  border-radius: 20px;
  padding: 40px;
}

.btnSaldo {
  color: white;
  background-color: rgba(255, 255, 255, 0.199);
  border: 1px solid white;
}

.btnSaldo:hover {
  color: white;
  font-weight: bold;
}
